@import "tailwindcss";
@import "../../node_modules/@highlightjs/cdn-assets/styles/atom-one-dark.min.css";

@config "../../tailwind.config.cjs";

@plugin "../../hero.ts";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@font-face {
  font-family: "Lexend";
  src: url("./Lexend/Lexend-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Monaspace Krypton";
  src: url("./Monaspace Krypton/MonaspaceKryptonNF-Regular.otf");
}

:root {
  font-family: 'Lexend', Arial, sans-serif;
}

@theme {
  --font-mono: "Monaspace Krypton"
}

.content {
  @apply px-2 mb-2
}

h1 {
  @apply font-bold text-4xl;
}

h2 {
  @apply font-semibold mt-2 text-3xl;
}

h3 {
  @apply font-semibold mt-2 text-2xl;
}

h4 {
  @apply font-semibold mt-2 text-xl;
}

h5 {
  @apply font-semibold mt-2 text-lg;
}

h6 {
  @apply font-semibold mt-2 text-base;
}

p {
  @apply leading-6 text-base;
}
/*
a {
  @apply no-underline hover:underline
} */

.katex-display {
  @apply max-w-full overflow-x-auto overflow-y-hidden
}

html {
  scroll-behavior: smooth;
}