@import "tailwindcss";

@config "../../tailwind.config.js";

@plugin "../../hero.ts";

@source "../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Lexend";
  src: url("./Lexend/Lexend-VariableFont_wght.ttf");
}

:root {
  font-family: 'Lexend', Arial, sans-serif;
}

.content {
  @apply max-w-xs md:max-w-xl lg:max-w-3xl mx-auto mb-2
}

h1 {
  @apply font-bold mt-2 text-4xl;
}

h2 {
  @apply font-semibold mt-2 text-3xl;
}

h3 {
  @apply font-semibold text-2xl;
}

h4 {
  @apply font-semibold mt-2 text-xl;
  font-variation-settings: "opsz" 20;
}

h5 {
  @apply font-semibold mt-2 text-lg;
}

h6 {
  @apply font-semibold mt-2 text-base;
}

p {
  @apply leading-6 text-base;
}

a {
  @apply no-underline hover:underline
}